<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h2 th:text="${title}"></h2>
    <table>
        <thead>
            <tr>
                <td>Code</td>
                <td>Name</td>
                <td>Continent</td>
                <td>Region</td>
                <td>Population</td>
                <td>Capital</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="country : ${countries}">
                <td th:text="${country.Code}"></td>
                <td th:text="${country.Name}"></td>
                <td th:text="${country.Continent}"></td>
                <td th:text="${country.Region}"></td>
                <td th:text="${country.Population}"></td>
                <td th:text="${country.Capital}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>