<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Report viewer</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script th:inline="javascript">
        var prepareButtons = function () {
            [(${javascript})]
        };
    </script>
    <script>
        window.onload = function () {
            prepareButtons();
        }
    </script>
</head>
<body>
    <header>
        <h2>Please choose from one of the following reports:</h2>
    </header>
    <p th:each="endpoint : ${endpoints}">
        <a th:href="${endpoint.Url}" th:text="${endpoint.Name}"></a>
        <input th:each="par : ${endpoint.Parameters}" type="text" th:id="${par.Id}" />
        <button type="button" th:id="'btn' + ${#strings.replace(endpoint.Name, ' ', '')}" >View report</button>
    </p>
</body>
</html>