<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report viewer</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>Please choose from one of the following reports:</h2>
    </header>
    <p>
        <a href="/all-countries-in-world">All the countries in the world organised by largest population to smallest.</a>
    </p>
    <p>
        <a href="/all-countries-in-continent">All the countries in a continent organised by largest population to smallest.</a>
        <br/>Provide N: <input type="text" id="txtCountriesInContinent" /><button type="button" id="btnCountriesInContinent" onclick="CountriesInContinent()">Get</button>
    </p>
    <p>
        <a href="/all-countries-in-region">All the countries in a region organised by largest population to smallest.</a>
        <br/>Provide N: <input type="text" id="txtCountriesInRegion" /><button type="button" id="btnCountriesInRegion" onclick="CountriesInRegion()">Get</button>
    </p>
    <p>
        <a href="/top-n-populated-countries">The top N populated countries in the world where N is provided by the user.</a>
        <br/>Provide N: <input type="text" id="txtTopCountries" /><button type="button" id="btnTopCountries" onclick="TopPopulatedCountries()">Get</button>
    </p>
    <p>
        The top N populated countries in a continent where N is provided by the user.
    </p>
    <p>
        The top N populated countries in a region where N is provided by the user.
    </p>
    <p>
        All the cities in the world organised by largest population to smallest.
    </p>
    <p>
        All the cities in a continent organised by largest population to smallest.
    </p>
    <p>
        All the cities in a region organised by largest population to smallest.
    </p>
    <p>
        All the cities in a country organised by largest population to smallest.
    </p>
    <p>
        All the cities in a district organised by largest population to smallest.
    </p>
    <p>
        The top N populated cities in the world where N is provided by the user.
    </p>
    <p>
        The top N populated cities in a continent where N is provided by the user.
    </p>
    <p>
        The top N populated cities in a region where N is provided by the user.
    </p>
    <p>
        The top N populated cities in a country where N is provided by the user.
    </p>
    <p>
        The top N populated cities in a district where N is provided by the user.
    </p>
    <p>
        All the capital cities in the world organised by largest population to smallest.
    </p>
    <p>
        All the capital cities in a continent organised by largest population to smallest.
    </p>
    <p>
        All the capital cities in a region organised by largest to smallest.
    </p>
    <p>
        The top N populated capital cities in the world where N is provided by the user.
    </p>
    <p>
        The top N populated capital cities in a continent where N is provided by the user.
    </p>
    <p>
        The top N populated capital cities in a region where N is provided by the user.
    </p>
    <p>
        The population of people, people living in cities, and people not living in cities in each continent.
    </p>
    <p>
        The population of people, people living in cities, and people not living in cities in each region.
    </p>
    <p>
        The population of people, people living in cities, and people not living in cities in each country.
    </p>

    <script src="js/main.js"></script>
</body>
</html>