<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h2><a href="/">Back to all reports</a></h2>
        <h2 th:text="' - ' + ${title}"></h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Population</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="pop : ${population}">
                <td th:text="${pop.Population}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>